@import url(./assets/fonts/fonts.css);
@import 'tailwindcss';

/* Plain CSS */
body {
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: ArtLab, Montserrat, 'Open Sans', sans-serif;
}

/*
@import 'tailwindcss/casalink';
*/

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-spinner[type="number"] {
  -moz-appearance: textfield;
  appearance: none; 
}

